/*
 * (C) 2013 Michael Engelhardt <me@mindcrime-ilab.de>
 *
 * This file is part of #SBahnFail!.
 *
 * #SBahnFail! is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * #SBahnFail! is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with #SBahnFail!.  If not, see <http://www.gnu.org/licenses/>.
 */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic,200);

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14pt;
	background-color: #EEEEEE;
	
}

#page {
	margin: 1em;
	padding: 1em;
}

#debug {
	margin-top: 1em;
}

th {
	text-align: left;
}

span.tweet_ts {
	font-weight: 200;
	font-size: smaller;
}

.ui-helper-reset {
	font-family: 'Source Sans Pro', sans-serif;
}

ul.tweets {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14pt;
	list-style-type: none;
	padding: 0px;
}

ul.tweets li {
	margin: 2em;
	padding: 1em;
	border: 1px solid black;
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 3px 3px 5px 6px #ccc;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #FFFFFF;
}
