<!DOCTYPE html>
<!--
(C) 2013 Michael Engelhardt <me@mindcrime-ilab.de>

This file is part of #SBahnFail!.

#SBahnFail! is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

#SBahnFail! is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with #SBahnFail!.  If not, see <http://www.gnu.org/licenses/>.
-->
<html ng-app="SFail">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>#SBahnFail!</title>

		<!-- favicon -->
		<link rel="shortcut icon" href="sfail16.ico" />
		
		<!-- css -->
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
		<link media="screen" rel="stylesheet" href="css/style.css" />
		
		<!-- javascript -->
		<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
		<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
		<script type="text/javascript" src="js/logger.js"></script>
		<script type="text/javascript" src="js/sfail.js"></script>
		<script type="text/javascript">
			$(function() {
				$("#tabs").tabs();
				$("#debug").accordion({
					collapsible : true,
					autoHeight : false,
					active : false
				});
			});
		</script>
	</head>
	<body>
		<div id="page">
			<div id="header">
				<span style="float:left; margin-right: 1em;">
					<img src="images/sfail.png" border="0" width="128" height="112"/>
				</span>
				<span>
				<h1>#!SBahnFail</h1>
				<h2>Tweets from S(_)Bahn(_)Berlin</h2>
				</span>
			</div>
			<div id="content" ng-controller="SFail.TweetListController">
				<div id="tabs">
					<ul>
						<li>
							<a href="#tabs-All">All</a>
						</li>
						<li>
							<a href="#tabs-UnFails">(Un)Fails</a>
						</li>
					</ul>
					<div id="tabs-All">
						<ul class="tweets">
							<li ng-repeat="tweet in tweets">
                                <span style="float:left; padding-right: 1em;"><img class="ng-cloak" ng-cloak src="{{tweet.profile_image_url}}" alt="{{tweet.from_user_name}}" title="{{tweet.from_user_name}}"/></span>
								<span class="tweets_txt ng-cloak" ng-bind-html-unsafe="tweet.text" ng-cloak></span>&nbsp;
								<br />
								<span class="tweet_ts ng-cloak" ng-cloak>({{tweet.created_at|date:'medium'}})</span>
                                <span class="tweet_ts ng-cloak" ng-cloak>via {{tweet.from_user_name}}</span>
							</li>
						</ul>
					</div>
					<div id="tabs-UnFails">
						<ul class="tweets">
							<li ng-repeat="tweet in filteredTweets">
                                <span style="float:left; padding-right: 1em;"><img class="ng-cloak" ng-cloak src="{{tweet.profile_image_url}}" alt="{{tweet.from_user_name}}" title="{{tweet.from_user_name}}"/></span>
                                <span class="tweets_txt ng-cloak" ng-bind-html-unsafe="tweet.text" ng-cloak></span>&nbsp;
                                <br />
                                <span class="tweet_ts ng-cloak" ng-cloak>({{tweet.created_at|date:'medium'}})</span>
                                <span class="tweet_ts ng-cloak" ng-cloak>via {{tweet.from_user_name}}</span>
							</li>
						</ul>
					</div>
				</div>
				<p>
					Not on a desktop - <a href="midx.html">switch to mobile version</a>
				</p>
			</div>
			<div id="footer">
				<p style="padding-left: 1em; padding-right:1em;">
					&copy; 2013 Michael Engelhardt. All content is aggregated from different twitter sources and remains property of its respective creators and/or providers.
				</p>
			</div>
		</div>
	</body>
</html>