<!DOCTYPE html>
<!--
(C) 2013 Michael Engelhardt <me@mindcrime-ilab.de>

This file is part of #SBahnFail!.

#SBahnFail! is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

#SBahnFail! is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with #SBahnFail!.  If not, see <http://www.gnu.org/licenses/>.
-->
<html ng-app>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#SBahnFail!</title>
    <link rel="shortcut icon" href="sfail16.ico"/>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css"/>
    <script type="text/javascript" src="js/sfail.js"></script>
    <script type="text/javascript" src="js/logger.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
    <script type="text/javascript" src="jslib/jquery-mobile-angular-adapter-1.2.0.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var log = new Util.Logger(Util.Logger.ERROR);
            log.debug("Ready!");
        });
    </script>
</head>
<body>

<!-- =================================================== -->
<!-- home page -->
<!-- =================================================== -->

<div data-role="page" id="page1" ng-controller="SFail.TweetListController">
    <div data-theme="a" data-role="header" data-position="fixed">
        <h3> #SBahnFail! </h3>

        <p style="padding-left: 1em; padding-right:1em; font-size: small; text-align: center">
            Tweets from S(_)Bahn(_)Berlin
        </p>

        <div data-role="navbar" data-iconpos="left">
            <ul>
                <li>
                    <a href="#page1" data-transition="fade" data-theme="" data-icon="home"
                       class="ui-btn-active ui-state-persist">All</a>
                </li>
                <li>
                    <a href="#page2" data-transition="fade" data-theme="" data-icon="star">(Un)Fails</a>
                </li>
            </ul>
        </div>
    </div>
    <div data-role="content">
        <ul id="allTweets" data-role="listview" data-divider-theme="b" data-inset="true" data-filter="true">
            <li ng-repeat="tweet in tweets">
                <span class="tweets_txt ng-cloak" ng-bind-html-unsafe="tweet.text" ng-cloak></span>&nbsp;
                <br/>
                <span class="tweet_ts ng-cloak" ng-cloak>({{tweet.created_at|date:'medium'}})</span>
            </li>
        </ul>
        <div>
            <p>
                Not on a mobile - <a href="index.html" data-transition="fade">switch to desktop version</a>.
            </p>
        </div>
        <div data-role="collapsible-set" data-theme="b">
            <div data-role="collapsible" data-collapsed="true">
                <h3> Debug </h3>

                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        Status:
                    </div>
                    <div class="ui-block-b">
                        {{status}}
                    </div>
                    <div class="ui-block-a">
                        Error:
                    </div>
                    <div class="ui-block-b">
                        {{error}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-theme="a" data-role="footer" data-position="fixed" style="padding-left:0.5em;padding-right: 0.5em;">
        <a data-role="button" data-inline="true" href="#" data-icon="refresh" data-theme="b"
           data-iconpos="left" ng-click="refresh()">Refresh</a>
        <a data-role="button" data-inline="true" href="#aboutdialog" data-icon="info" data-theme="b"
           data-iconpos="left" data-rel="dialog" data-transition="flip">About...</a>
        <span style="padding-left:1em; font-size: small">upd: {{lastRefresh|date:'mediumTime'}}</span>
    </div>
</div>

<!-- =================================================== -->
<!-- Page for filtered tweets -->
<!-- =================================================== -->

<div data-role="page" id="page2" ng-controller="SFail.TweetListController">
    <div data-theme="a" data-role="header" data-position="fixed">
        <h3> #SBahnFail! </h3>

        <p style="padding-left: 1em; padding-right:1em; font-size: small; text-align: center">
            Tweets from S(_)Bahn(_)Berlin
        </p>

        <div data-role="navbar" data-iconpos="left">
            <ul>
                <li>
                    <a href="#page1" data-transition="fade" data-theme="" data-icon="home">All</a>
                </li>
                <li>
                    <a href="#page2" data-transition="fade" data-theme="" data-icon="star"
                       class="ui-btn-active ui-state-persist">(Un)Fails</a>
                </li>
            </ul>
        </div>
    </div>
    <div data-role="content">
        <ul id="filteredTweets" data-role="listview" data-divider-theme="b" data-inset="true" data-filter="true">
            <li ng-repeat="tweet in filteredTweets">
                <span class="tweets_txt ng-cloak" ng-bind-html-unsafe="tweet.text" ng-cloak></span>&nbsp;
                <br/>
                <span class="tweet_ts ng-cloak" ng-cloak>({{tweet.created_at|date:'medium'}})</span>
            </li>
        </ul>
        <div>
            <p>
                Not on a mobile - <a href="index.html" data-transition="fade">switch to desktop version</a>.
            </p>
        </div>
        <div data-role="collapsible-set" data-theme="b">
            <div data-role="collapsible" data-collapsed="true">
                <h3> Debug </h3>

                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        Status:
                    </div>
                    <div class="ui-block-b">
                        {{status}}
                    </div>
                    <div class="ui-block-a">
                        Error:
                    </div>
                    <div class="ui-block-b">
                        {{error}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-theme="a" data-role="footer" data-position="fixed" style="padding-left:0.5em;padding-right: 0.5em;">
        <a data-role="button" data-inline="true" href="#" data-icon="refresh" data-theme="b"
           data-iconpos="left" ng-click="refresh()">Refresh</a>
        <a data-role="button" data-inline="true" href="#aboutdialog" data-icon="info" data-theme="b"
           data-iconpos="left" data-rel="dialog" data-transition="flip">About...</a>
        <span style="padding-left:1em; font-size: small">upd: {{lastRefresh|date:'mediumTime'}}</span>
    </div>
</div>

<!-- =================================================== -->
<!-- About Dialog -->
<!-- =================================================== -->

<div data-rel="dialog" id="aboutdialog">
    <div data-role="header" data-theme="d">
        <h1>About</h1>
    </div>

    <div data-role="content" data-theme="c">
        <p>
            <span style="font-style: italic; font-size: larger;">#SBahnFail! Version 0.0.1 Copyright &copy; 2013 Michael Engelhardt.</span>
        </p>

        <p>
            #SBahnFail! comes with ABSOLUTELY NO WARRANTY; for details see <a
                href="https://www.gnu.org/licenses/gpl-3.0" target="_blank">GPLv3@gnu.org</a>. This is free software,
            and you are welcome to redistribute it under certain conditions; see <a
                href="https://www.gnu.org/licenses/gpl-3.0">GPLv3@gnu.org</a> for details.
        </p>

        <p>
            #SBahnFail uses <a href="http://angularjs.org/" target="_blank">AngluarJS</a>, <a href="http://jquery.org/"
                                                                                              target="_blank">JQuery</a>,
            <a href="http://jquerymobile.com/" target="_blank">JQuery Mobile</a> and <a
                href="https://github.com/tigbro/jquery-mobile-angular-adapter" target="_blank">JQuery Mobile AngularJS
            Adapter</a>-
        </p>

        <p>
            All content is aggregated from different twitter sources and remains property of its respective creators
            and/or providers.
        </p>
        <a href="#page1" data-role="button" data-rel="back" data-theme="b">Close</a>
    </div>

</div>
</body>
</html>